<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- SEO Meta Tags -->
  <meta name="description" content="Discover David Fox's NodeBlog: A showcase of cutting-edge web development projects, insights in Full Stack Development using Node.js, Express, MongoDB, and more."/>
  <meta name="keywords" content="Blog, Full Stack Developer, David Fox, Web Development, Express, JavaScript, Node.js"/>
  <meta name="author" content="David Fox"/>

  <!-- Social Media Meta Tags -->
  <meta property="og:title" content="David Fox - Full Stack Developer's Portfolio"/>
  <meta property="og:description" content="Explore David Fox's portfolio to see a range of innovative and skillfully executed web development projects."/>
  <meta property="og:image" content="/public/img/blur_edges.png"/>
  <meta property="og:url" content="https://blog.davidfoxdev.co.uk/"/>
  <meta property="og:type" content="website"/>

  <meta name="twitter:card" content="summary_large_image"/>
  <meta name="twitter:title" content="David Fox - Full Stack Developer's Portfolio"/>
  <meta name="twitter:description" content="David Fox's portfolio presents a professional journey through various web development projects, emphasizing modern technologies and creative solutions."/>
  <meta name="twitter:image" content="/public/img/blur_edges.png"/>
  <meta name="twitter:site" content="@davidfoxtech"/>

  <title><%= locals.title %></title>
  <link rel="icon" href="/img/home.png" type="image/png">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

  <link rel="stylesheet" href="/css/style.css">
  <script type="text/javascript" defer src="/js/script.js"></script>
</head>
<body>

  <!-- Quote Modal -->
<div id="quoteModal" class="modal">
  <div class="modal-content">
      <p id="quoteText"></p>
      <p id="quoteAuthor"></p>
  </div>
</div>
  
  <%- include('../partials/search.ejs')  %>
  <div class="container">
    <%- include('../partials/header.ejs')  %>
    <main class="main">
      <%- body %>
    </main>
    <%- include('../partials/footer.ejs')  %>
  </div>  

</body>
</html>